@mixin inputTextStyle {
  padding-left: 15px;
  font-family: Aeroport;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0%;
}

.Project {
  width: 1160px;
  min-height: 903px;
  border-top-left-radius: 16px;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  .formBlock {
    height: 842px;
    width: 1040px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    .formBlockHeader {
      display: flex;
      justify-content: space-between;
      width: 1040px;
      align-items: center;
      .textProject {
        width: 754px;
        height: 38px;
        display: flex;
        align-items: center;
        font-family: Aeroport;
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
      }
      .btnDelete {
        border: none;
        width: 186px;
        height: 47px;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        .btnText {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 138px;
          height: 27px;
          font-family: Aeroport;
          font-weight: 500;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: 0%;
        }
      }
    }
    .formWrapper {
      width: 1040px;
      height: 772px;
      border-top-right-radius: 24px;
      border-top-left-radius: 24px;
      background-color: white;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      .formCard {
        margin-top: 55px;
        height: 447px;
        width: 937px;
        .form {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 447px;
          .infoBox {
            display: flex;
            justify-content: space-between;
            width: 903px;
            height: 91px;
            .field {
              width: 285px;
              height: 91px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
            .expField {
              width: 285px;
              height: 91px;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
            .deadlineField {
              display: flex;
              width: 285px;
              height: 91px;
              flex-direction: column;
              justify-content: space-between;
            }
          }
          .descField {
            width: 937px;
            height: 192px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .btnBox {
            display: flex;
            width: 937px;
            justify-content: space-between;
            .button {
              border: none;
              width: 186px;
              height: 47px;
              border-radius: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              .btnText {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 138px;
                height: 27px;
                font-family: Aeroport;
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0%;
              }
            }
          }
        }
      }
    }
  }
}
.inputSelect {
  width: 285px;
  height: 61px;
  padding: 0 16px;
  border: 2px solid #d3d4d8;
  border-radius: 8px;
  appearance: none;
  background-color: #fff;
  font-size: 16px;
  font-family: inherit;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%233C3C43' stroke-opacity='0.6' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  cursor: pointer;
  :focus {
    border-color: #999;
    outline: none;
  }
}
.inputDeadline {
  width: 285px;
  height: 61px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 2px solid #d3d4d8;
  border-width: 2px;
  display: flex;
  justify-content: start;
}
.inputExperience {
  width: 285px;
  height: 61px;
  border-radius: 8px;
  border-width: 2px;
  background: #ffffff;
  border: 2px solid #d3d4d8;
}
.inputTextarea {
  width: 937px;
  height: 162px;
  border-radius: 8px;
  border-width: 2px;
  resize: none;
  background-color: white;
  
  border: 2px solid #d3d4d8;
}
.textField {
  width: 424px;
  height: 20px;

  font-family: Aeroport;
  font-weight: 400;
  font-size: 18px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
}

.inputExperience,
.inputDeadline,
.inputTextarea,
.inputSelect {
  @include inputTextStyle;
}
